h1{
  margin-left: 50px
}
input[type=text]{
  width: 15%;
  padding: 5px;
  /* margin: 2px 0; */
  box-sizing: border-box;
  font-size: 14px;
}

input[type=button]{
  border: none;
  color: lightslategray;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

input[type=button]:hover {background-color: #e7e7e7;}